.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 7.5px;
}

.topbar-item {
  font-size: large;
  padding: 4px;
  background-color: transparent;
}

.big-container {
  border: 4px solid darkgray;
  max-width: 750px;
  max-height: 800px;
  width: 60vw;
  height: 60vh;
  position: absolute;
  transform: translate(-50%, 40px);
}

.caliper-dial {
  transform-origin: center;
  width: fit-content;
  margin: 35px;
}